@import'mixins';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $ffamily-2;
}

header{
    background: $color-primary-3;
    overflow: hidden;
    height: 100px;
    @include Mobile{
        height: 50px;
    }
    div#title{
        float: left;
        h1{
            font-family: $logoFont;
            font-size: 50px;
            @extend %M;
            color:$color;
            text-shadow: 2px 2px 4px #000000;
            @include Mobile{
                    font-size: 20px;
             }
            span{
                font-size: 55px;
                color:$color-secondary-1-1;
                &:hover{
                    transition: color 3s;
                   color:$color-secondary-2-0; 
                }
                @include Mobile{
                    font-size: 25px;
             }
            }
        }
    }
    i.fa-bars{
            float: right;
            position: relative;  
            @extend %M;
            display: none;
            @include Mobile{
                font-size:25px !important;
                display: inline;
                color:$color;
            }
            @include Tablets{
                font-size: 50px;
                display: inline;
                color:$color;
            }
            &:hover{
                color:$color-secondary-1-1;
            }
        }
        /*  Mobile navbar */
        div.responsive{
            background: #000;
            opacity: 0.8;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            position: fixed;
            display: none;
                nav.nav-responsive {
                    font-size: 40px;
                    float: left;
                    overflow-x: hidden;
                    button#btn{
                        @extend %M;
                        position: absolute;
                        right: 0;
                        background: none;
                        border: none;
                        color: $color;
                        font-size: 50px;
                        &:hover{
                            color:$color-primary-1
                        }
                    }
                    a{
                        padding: 10px;
                        display: block;
                        @extend %M;
                        @include Atag($color-primary-1,$color);
                    }
            }
        }
        /*  End OF Navbar*/
    nav.topnav{
         @include Mobile{
                display: none;
            }
            @include Tablets{
               display: none;
            }
        ul{
            list-style: none;
            float: right;
            li{
                display: inline-block;
                position: relative;
                top:50px;
                right:40px;
                a{
                    font-size: 25px;
                    @include Atag($color-secondary-1-1,$color-secondary-2-2);
                    @extend %M;
                }
            }
        }
    }
}

/* Showcase */
section#showcase{
    //background: url();
    background: #000000;
    -webkit-filter: sepia(1);
    filter: sepia(1);
    @extend %img;
    @include Flex-center();
    height: 60vh;
    h1{
            font-family: $ffamily-1;
            font-size: 50px;
            color:$color;
            text-shadow: 2px 2px 4px #000000;
            @include Mobile{
                    font-size: 30px;
                    margin: 4px 6px;
             }
            span{
                font-size: 55px;
                color:$color-secondary-1-1;
                &:hover{
                    transition: color 3s;
                   color:$color-secondary-2-0; 
                }
                @include Mobile{
                    font-size: 25px;
                    margin: 4px 6px;
             }
            }
    }

    p{
            font-family: $ffamily-2;
            font-size: 40px;
            color:$color;
            padding: 2px 4px;
            text-shadow: 2px 2px 4px #000000;
            span{
                color:$color-primary-3;
            }
            @include Mobile{
                    font-size: 20px;
             }
    }
}



/*  END Showcase */




/*Search Bar */

section.searchbar{
    clear: both;
    @extend %S;
    form{
        float: left;
        padding: 4px;
        input[type="text"]{
            // border: none;
            // border-bottom: 1px solid black;
            // text-align: left;
            // width: 250px;
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: $color;
            background-image: url('../img/search.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            background-size: 30px ;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            &:focus{
               //width: 260px;
               width: 100%;
            }
        }
        button{
                background:none;
                border: none;
                text-align: center;
                padding: 5px 6px;
                i{
                    font-size: 25px;
                    color:$color-secondary-1-1;
                }
            }
    }
}



/* Main  HomePaGe*/
main.grid2{
    clear: both;
    @include grid();
    background: $color;
    opacity: 0.5;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "main main sidebar";
    grid-gap: 1em;
    height:auto;
    @include Mobile{
       grid-template-columns: 1fr 1fr;
       grid-template-rows: auto auto;
       grid-template-areas: "main main"
        "sidebar sidebar";
    }
    div.postcol /* POST */
    {
        grid-area: main;
        section.post{ /*  Section Post */
            box-shadow: 0 4px 8px 0 rgba(0,0,1,0.4);
            @extend %M;
            div.line{
                border: 1px black solid;
                margin: 1px 2px;
            }
            h2{
                text-shadow: 2px 2px 4px #000000;
                @extend %M;
                transition: all 0.2s;
                &:hover{
                    color:$color-primary-3;
                }
            }
            p{
               @extend %M;
               a{
                   @include Atag($color-secondary-1-1, $color-secondary-2-2);
                   &:hover{
                       text-decoration: underline;
                   }
               }
            }
    }
    /*  Section Post */
    }
    div.side{
        grid-area: sidebar;
        @extend %M;
    }
}



/* Testing */

/* Testing 
*
*
*
*
*
*/

/*
* Contact Form
*
*/
section.contact{
    @include Flex-center();
    background: $color-primary-4;
    opacity: 0.7;
    form{
        background: darken($color: $color, $amount: 10%);
        margin: 20px;
        height: 65vh;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        @include Mobile{
          margin: 8px;  
        }
        label{
        font-weight: bolder;
        @extend %M;
        font-size: 20px;            
        }
        input{
        @extend %M;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        @include Mobile{ 
            padding: 5px; 
        }           
            &:focus{
                border: 2px solid $color-secondary-1-4;
            }
        }
        input[type="submit"]{
            border-radius: 2px;
            background: $color-secondary-1-4;
            color:$color;
            transition: all 0.3s;
            &:hover{
             background: $color-secondary-1-1;
            }
        }
        textarea{
        padding: 20px;
        padding-right: 40px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin:15px 18px;
            &:focus{
                border: 2px solid $color-secondary-1-4;
            }
        }
    }
} /* ENd */


/*
*
End Of section
*
*/

/* Footer */
footer{
    clear: both;
    position: relative;
    @include grid();
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    div[class*='col-']{
        height: 200px;
        background: $color-primary-3;
        @include Mobile{
            height: 100px;
        }
        &.col-1{
            h2{
                font-size: 30px;
                @extend %M;
                @include Mobile{
                    font-size: 10px;
                }
                span{
                    color:$color-secondary-1-1;
                &:hover{
                    transition: color 3s;
                   color:$color-secondary-2-0; 
                }
                }
                a{
                    margin-top:20px; 
                    @include Atag($color, $color-secondary-1-0);
                    @include Mobile {
                        font-size: 8px;
                    }
                       @include Tablets {
                           font-size: 20px !important;
                       }

                }
            }  
        } /* End Of col-1 */
        &.col-2{
            @include Flex-center();
            h2{
                a{
                    font-size: 30px;
                    @include Atag($color,$color-secondary-1-0);
                    @include Mobile{
                    font-size: 15px;
                }
                }
                
            }
        }/* End Of col-2 */
        &.col-3{
            nav{
                margin-top:50px;
                @include Mobile{
                    margin-top:20px;
                }
                @include Tablets{
                   margin-top:20px;
                }
                ul{
                    list-style: none;
                    text-align: center;
                    
                    li{
                        display: inline-block;
                    }
                    a{  
                        font-size: 30px;
                        @extend %M;
                         @include Atag($color,$color-secondary-1-0);
                           @include Mobile{
                            font-size: 15px;
                            margin: 4px 6px !important;
                            }
                            @include Tablets{
                                margin: 4px 6px !important;
                            }
                    }
                }
            }
            h2{
                margin-top: 20px;
                @include Flex-center();
                font-family: $ffamily-1;
                @include Mobile{
                        margin-top: 5px;
                        font-size: 20px;
                }
            }
                span{
                    font-family: $logoFont;
                    color: $color;
                    &:hover{
                    transition: color 3s;
                   color:$color-secondary-2-0; 
                 }

                }
            }/* End Of col-3 */

    }/* End OF DIV  */
} /* End OF footer */








/* 
*
Grid 3 Layout
*
*
*/
div.grid3{
    clear: both;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include Mobile{
        grid-template-columns: 1fr;
    }
    @include Tablets{
        grid-template-columns: 1fr;
    }
    
    div.cols{ /* start */
        color: #ccc;
        grid-column:span 3;
        @include Mobile {
            grid-column-start: auto;
        }
        @include Tablets {
            grid-column-start: auto;
        }
        @extend %M;
        ul.ul-card{
            list-style: none;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border: 1px solid black;
            li{
                width:100%;
                padding: 14px 16px;
                border-bottom: 1px solid black;
               &:last-child{
                   border: none;
               }
               &:hover {
                   background: $color-primary-3;
               }
            }
        }
    }/* End */

    div.card{
        border:1px solid black;
        border-radius: 5px;
        @extend %M;

        h2.card-title{
            padding: 4px 6px;
            background: $color-primary-3;
            color: $color;
        }
        p.card-content{
            padding: 10px 15px;
            a{
                font-size: 20px;
                @include Atag($color-primary-3, $color-secondary-1-0);
            }
        }
    } /* End */
} /* Grid class End */ 


/* 
*

End OF 
Grid 3 Layout
*
*
*/

/* Post of clock */

div#clock{
    margin:20px 0 30px 0;
    clear: both;
    text-align: center;
    p{
        color: $color-primary-1;
        font-family: $ffamily-1;
        font-size: 50px;
        background: $color-secondary-1-0;
    }
}