%M{
    margin: 14px 16px;
}
%S{
    margin: 8px 10px;
}

%img{
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

%shadow {
    box-shadow: 8px 8px 4px #aaaaaa;
}