/*=================================================================
                            SHOWCASE 
   ================================================================
*/

section#showcase {
  background: $primary-color;
  color: $primary-color-text;
  @extend %img;
  height: 100vh;
  @include Flex-center();

  h1 {
    text-align: center;
    font-size: 10vh;
    font-family: $font-family-roboto;
    letter-spacing: 1px;
  }

  span {
    font-size: 50px;
    font-family: $font-family-roboto-slab;
  }

  ul {
    position: absolute;
    right: 0;
    top: 0;
  }
}


/*=================================================================
                        END OF SHOWCASE 
   ================================================================
*/



/*=================================================================
                            NAVBAR 
   ================================================================
*/
.nav-wrapper {
  background: $primary-color-dark;
}



/*=================================================================
                        END OF NAVBAR 
   ================================================================
*/


/*=================================================================
                        MAIN 
   ================================================================
*/

main {
  margin-bottom: 0px !important;
}

/*=================================================================
                        END OF MAIN 
   ================================================================
*/


/*=================================================================
                        ABOUT ME 
   ================================================================
*/

#about {
  p{
    font-size: 25px;
  }
}



/*=================================================================
                        END OF ABOUT ME 
   ================================================================
*/


/*=================================================================
                        Experience 
   ================================================================
*/





/*=================================================================
                        END OF Experience 
   ================================================================
*/


/*=================================================================
                        END OF Education 
   ================================================================
*/


/*=================================================================
                        Education 
   ================================================================
*/



/*=================================================================
                        SKILLS 
   ================================================================
*/

#skills {
  font-family: $font-family-roboto-mono;

  ul {
    list-style: none;
    // text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;

    li {
      display: inline-block;
      margin: 7px;
      margin-bottom: 20px;
      padding: 5px 10px;
      color: $primary-text-color;
      background: lighten($color:$secondary-text-color, $amount: 30);
      list-style: none;
      cursor: default;
      font-size: 1.2em;
    }
  }
}

/*=================================================================
                      END OF  SKILLS 
   ================================================================
*/


/*=================================================================
                     END OF  CONTACT
                      
   ================================================================
*/

#contact{
  overflow: hidden;
  text-align: center;
  h4{
    font-size: 30px;
    letter-spacing: 2px;
  }
  a{
    color: $primary-color-text;
  }
}
/*=================================================================
                     END OF  CONTACT
   ================================================================
*/


/*=================================================================
                        FOOTER 
   ================================================================
*/

footer {
  background: $primary-color;
  overflow: hidden;
  bottom: 0;

  h5 {
    padding: 20px 25px;
    text-align: center;
  }

  ul {
    margin: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*=================================================================
                        END OF FOOTER 
   ================================================================
*/