.redirect {
  text-align: center;
  font-size: 20px;

  a {
    text-decoration: none;
    color: $secondary-text-color;

    &:hover {
      text-decoration: underline;
      color: $primary-text-color;
    }
  }
}

.connect-me-icons {
  list-style: none;

  li {
    float: right;
    font-size: 20px;
    padding: 20px 15px;

    &:hover {
      color: $secondary-text-color;
    }
  }
}


.footer-icons {
  li {
    &:hover {
      color: $primary-color-text;
    }
  }
}

.section-title {
  font-family: $font-family-roboto-condensed;
  color: $primary-text-color;
  position: relative;
  // display: inline-block;
  font-size: 2.2em;
  font-weight: 900;
  margin: 20px 0 30px 0;
  text-align: center;

  &::after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #3498;
  }
}



.time-period {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  font-size: 15px;
}



.timeline {
  position: relative;

  .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;

    .timeline-content {
      position: relative;
      width: calc(50% - 50px);
    }

    &::before {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: 0;
    }

    &::after {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: calc(50% + 30px);
    }

    &:first-child::before,
    &:last-child::after {
      display: none;
    }

    &:nth-child(even) .timeline-content {
      margin-left: calc(50% + 50px);
    }

    &:nth-child(odd) .timeline-content {
      margin-left: 0;
    }
  }

  .timeline-badge {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #d2d2d2;
    top: calc(50% - 8px);
    right: calc(50% - 8px);
    border-radius: 50%;
    text-align: center;
    cursor: default;

    i {
      font-size: 25px;
      line-height: 40px;
    }
  }
}

@media (max-width: 600px) {
  .timeline {
    .timeline-event {
      .timeline-content {
        width: calc(100% - 70px);
      }

      &::before,
      &::after {
        left: 19px;
      }

      &:nth-child(even) .timeline-content,
      &:nth-child(odd) .timeline-content {
        margin-left: 70px;
      }
    }

    .timeline-badge {
      left: 12px;
    }
  }
}

.card-title {
  // font-weight: 600!important;
  line-height: 1em;

  &.gradient {
    display: block;
    position: absolute;
    bottom: 0px;
    padding-bottom: 64px;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 100%);
  }
}